/*login*/
.login-container{
	display: block;
	width: 330px;
	height: 350px;
	padding: 0 20px 20px 20px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	/*verticaly center*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -165px;
}
::-webkit-scrollbar{
	height:10px;
	width:10px;
	background:#FFF;
}
::-webkit-scrollbar-thumb{
	background:#BBB;
	border:solid 2px #FFF;
}
::-webkit-scrollbar-thumb:hover{
	background:#888;
}
::-moz-scrollbar{
	height:10px;
	width:10px;
	background:#FFF;
}
::-moz-scrollbar-thumb{
	background:#BBB;
	border:solid 2px #FFF;
}
::-moz-scrollbar-thumb:hover{
	background:#888;
}
/*message*/
.message-body{
	display: block;
	height: 600px;
	width: 70%;
	margin:0px auto;
	border:1px solid #ccc;
}
.message-left{
	display: block;
	height: 100%;
	width: 30%;
	float: left;
	overflow-y: scroll;
	border-right: 1px solid #ccc;
}
.message-right{
	display: block;
	height: 100%;
	width: 70%;
	float: left;
}
.message-left ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.message-left ul a{
	text-decoration: none;
}
.message-left ul a li{
	padding: 5px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	color: black;
}
.message-left ul a li img{
	height: 50px;
	width: 50px;
}
.message-left ul a li:hover{
	background: #EBEDF5;
}
.message-left ul a li.active{
	background: #6B83B3;
}
.message-right .display-message{
	display: block;
	height: 80%;
	width: 100%;
	border-bottom: 1px solid #ccc;
	overflow-y:scroll;
}
.message-right .send-message{
	height: 20%;
	background: #eee;
	padding: 10px;
}
.display-message .message{
	min-height: 60px;
	padding: 5px;
}
.message .img-con{
	width: 10%;
	float: left;
	height: inherit;
}
.message .img-con > img{
	height: 50px;
	width: 50px;
}
.message .text-con{
	width: 90%;
	float: left;
	height: inherit;
}
hr{
	margin-top: 0;
	margin-bottom: 0;
	border-top:1px solid #ccc;
}

.main-menu ul li > a:hover{color:#1855cc;}
.main-menu ul li > a.current{color:#1855cc;}
